body {
	margin: 0;
	padding: 0;
}
#contentArea {
	position: absolute;
	overflow: hidden;
	background-color: black;
}
.bigearth-scrollPanel {
	position: absolute;
	background-color: black;
}
#buttonBar {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.aCanvas {
	position: absolute;
}

#crossHairs {
	display: none;
	position: absolute;
	width: 32px;
	height: 32px;
	border: solid 2px #006;
}

.fleetIcon {
	position: absolute;
	z-index: 1;
	width: 64px;
	height: 48px;
}

.fleetIcon .selectionCircle {
	display: none;
}

.fleetIcon.selectedFleet {
	z-index: 2;
	background-image: url("ui_images/fleet_selection_circle_back.gif");
}

.fleetIcon.inCity {
	visibility: hidden;
}

.fleetIcon.inCity.selectedFleet {
	visibility: visible;
}

.fleetIcon.selectedFleet .selectionCircle {
	display: block;
	position: absolute;
	width: 64px;
	height: 48px;
	z-index: 3;
	pointer-events: none;
}

#citiesReport {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 5in;
	height: 5in;
	color: black;
	background-color: white;
	border-top:    6px solid #ccc;
	border-left:   6px solid #ccc;
	border-bottom: 6px solid #666;
	border-right:  6px solid #666;
	font-family: sans-serif;
}

#citiesReport h1 {
	font-size: 18pt;
}

#fleetPane, #cityPane {
	position: absolute;
	right: 1em;
	top: 1em;
	font-family: sans-serif;
	color: black;
	background-color: white;
	border-top:    6px solid #ccc;
	border-left:   6px solid #ccc;
	border-bottom: 6px solid #666;
	border-right:  6px solid #666;
	overflow: hidden;
	padding: 3pt;
}

#fleetPane {
	width: 3in;
	height: 3in;
}

#cityPane {
	width: 5in;
	height: 4in;
}

#cityTopview {
	width: 2in;
	float: left;
	border: 1px solid black;
	text-align: center;
	padding-bottom: 6pt;
}

#cityPane .cityName {
	text-decoration: underline;
	color: black;
}

.dragTargetIndicator {
	position: absolute;
	display: none;
	z-index: 2;
}

#cursorGotoImg {
	display: none;
}

.ownerIcon {
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: #fcc;
	color: #000;
	width: 16px;
	height: 18px;
	left: 0;
	top: 0;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}

.activityIcon {
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	color: #840;
	width: 16px;
	height: 18px;
	right: 0;
	top: 0;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}

.cityJobsContainer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cityJobBoxTemplate {
	display: none;
}

.cityJobBox {
	float: left;
	border: 1px solid black;
	text-align: center;
}

.cityJobBox .jobCounts {
	line-height: 2em;
	padding-left: 3pt;
	padding-right: 3pt;
}

.cityJobBox .jobCount {
	float: left;
	margin-left: 3pt;
	margin-right: 3pt;
	border: 1px solid white;
	cursor: default;
	min-width: 16pt;
}

.cityJobBox .jobCount.over {
	background-color: black;
	color: white;
}

.cityJobBox .jobLabel {
	font-size: 8pt;
	padding-left: 3pt;
	padding-right: 3pt;
}

.cityJobBox[job="childcare"] {
	background-color: #bfb;
	color: black;
}
.cityJobBox[job="hunt"] {
	background-color: #fbb;
	color: black;
}
.cityJobBox[job="farm"] {
	background-color: #fc8;
	color: black;
}
.cityJobBox[job="gather-wood"] {
	background-color: #cfa;
	color: black;
}
.cityJobBox[job="gather-clay"] {
	background-color: #fa8;
	color: black;
}
.cityJobBox[job="gather-stone"] {
	background-color: #aba;
	color: black;
}

.cityActivityContainer {
	clear: both;
	border: 1px solid black;
	text-align: center;
}

.cityActivityLabel {
	font-size: 8pt;
}

.cityActivityComplete {
	font-size: 7pt;
	width: 0;
	height: 6pt;
	background-color: #ccc;
}

.closeBtn {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	text-align: center;
	line-height: 20px;
	cursor: default;
	background-color: #ccc;
	color: black;
}

#fleetButtonBar, #cityPaneButtonBar {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #ccc;
	margin-left: -3pt;
	padding-left: 3pt;
	padding-right: 3pt;
	min-height: 16pt;
}

.atThisLocationHeader {
	font-size: 7pt;
	margin-top: 8pt;
}

.miniHeader {
	font-size: 7pt;
}

.buttonBarSectionHeader {
	font-size: 7pt;
}

.buildingExpandSection {
	display: none;
	font-size: 8pt;
}

.cityBuildingItem {
	float: left;
	text-align: center;
}

.cityBuildingItem .cityBuildingName {
	font-size: 8pt;
}

.cityBuildingItem.expanded .buildingExpandSection {
	display: block;
}

.cityBuildingItem.expanded .buildingExpandBtn {
	display: none;
}

.cityBuildingItem .buildingCollapseBtn {
	display: none;
}

.cityBuildingItem.expanded .buildingCollapseBtn {
	display: inline;
}

.popupTabsBar {
	width: 100%;
	background-color: #ccc;
	color: black;
	margin-left: -3pt;
	padding-left: 3pt;
	padding-right: 3pt;
}

#cityPane .popupTabsBar button {
	min-width: 56pt;
}

.cityPaneTab {
	display: none;
}

.template {
	display: none;
}

.cityBuildingOutputChoice {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	opacity: 0.35;
}

.cityBuildingOutputChoice.selected {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 1.0;
	border: 2px solid #006;
}

.cityBuildingOrdersBtn {
	border: 1px solid black;
	background-color: #ccc;
	color: black;
	padding-left: 2pt;
	padding-right: 2pt;
	line-height: 24px;
	cursor: default;
}

.cityBuildingOrdersBtn img {
	vertical-align: top;
}

.cityMessage .year {
	font-weight: bold;
}

.fleetMessageBox {
	border: 1px solid black;
	background-color: rgba(255,255,240,0.65);
	margin-bottom: 10px;
	margin-left: 32px;
	margin-right: 32px;
	line-height: 32px;
}

.fleetMessageBox img.unitIcon {
	width: 32px;
	height: 32px;
	vertical-align: top;
}

.fleetMessageBox .fleetName {
	width: 120px;
	display: inline-block;
}

.fleetTile {
	border: 1px solid black;
	width: 1.5in;
	float: left;
}

.fleetTile:hover {
	background-color: yellow;
}

.fleetResourceExchange .resourcesList {
	border: 1px solid #ccc;
}

.fleetResourceExchange .ResourceExchange-left {
	float: left;
	width: 1.4;
}

.fleetResourceExchange .ResourceExchange-right {
	float: right;
	width: 1.4;
}

.fleetResourceExchange:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.resourceIcon {
	vertical-align: middle;
}

.cityVisualOutskirts {
	margin-left: -3pt;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.cityVisualClearedArea {
	background-image: url("terrain_textures/plains.png");
	left: 80px;
	top: 32px;
	width: 320px;
	height: 192px;
	position: absolute;
}

.ovTable td.ovCell {
	width: 32px;
	height: 32px;
	vertical-align: top;
}

.cityVisualShoreline {
	background-image: url("building_images/city_shoreline.png");
	width: 100%;
	height: 408px;
	position: absolute;
	top: 224px;
	display: none;
}

.cityVisualFloater {
	position: absolute;
	overflow: hidden;
}

.cityVisualStockyard {
	padding: 8px;
}

.cityVisualStockyardContainer {
	position: absolute;
	width: 96px;
	height: 96px;
	overflow: hidden;
	background-image: url("building_images/stockyard.png");
}
