body {
	margin: 0;
	padding: 0;
}
#contentArea {
	position: absolute;
	overflow: hidden;
	background-color: black;
}
#scrollPanel {
	position: absolute;
	background-color: black;
}
#buttonBar {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.aCanvas {
	position: absolute;
}

.testPan {
	-moz-transition: all 2s ease-out 0s;
	-moz-transform: translateX(600px);
}

#crossHairs {
	display: none;
	position: absolute;
	width: 32px;
	height: 32px;
	border: solid 2px #006;
}

.fleetIcon {
	position: absolute;
	z-index: 1;
}

#fleetPane {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 3in;
	height: 3in;
	font-family: sans-serif;
	color: black;
	background-color: white
}

#cityPane {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 3in;
	height: 3in;
	font-family: sans-serif;
	color: black;
	background-color: white
}

#dragTargetIndicator {
	position: absolute;
	display: none;
	z-index: 2;
}

#cursorGotoImg {
	display: none;
}

.ownerIcon {
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: #fcc;
	color: #000;
	width: 16px;
	height: 18px;
	left: 0;
	top: 0;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}

.activityIcon {
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	color: #840;
	width: 16px;
	height: 18px;
	right: 0;
	top: 0;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}

.cityJobsContainer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cityJobBoxTemplate {
	display: none;
}

.cityJobBox {
	float: left;
	border: 1px solid black;
	text-align: center;
}

.cityJobBox .jobCounts {
	line-height: 2em;
	padding-left: 3pt;
	padding-right: 3pt;
}

.cityJobBox .jobCount {
	float: left;
	margin-left: 3pt;
	margin-right: 3pt;
	border: 1px solid white;
	cursor: default;
	min-width: 16pt;
}

.cityJobBox .jobCount.over {
	background-color: black;
	color: white;
}

.cityJobBox .jobLabel {
	font-size: 8pt;
	padding-left: 3pt;
	padding-right: 3pt;
}

.cityJobBox[job="procreate"] {
	background-color: #bfb;
	color: black;
}
.cityJobBox[job="hunt"] {
	background-color: #fbb;
	color: black;
}
.cityJobBox[job="settle"] {
	background-color: #fc8;
	color: black;
}
/* no longer used */
.cityJobBox[job="unassigned"] {
	background-color: #ccc;
	color: black;
}

.cityActivityContainer {
	clear: both;
	border: 1px solid black;
	padding-top: 3pt;
	text-align: center;
}
.cityActivityComplete {
	font-size: 7pt;
	width: 0;
	height: 6pt;
	background-color: #ccc;
}
